<?xml version="1.0"?>
<launch>
  <!-- Export the custom URDF path -->
  <env name="HUSKY_URDF_EXTRAS" value="$(find husky_custom)/urdf/realsense.urdf.xacro" />

  <!-- Launch the office world with the Husky platform -->
  <include file="$(find cpr_office_gazebo)/launch/office_world.launch">
    <arg name="platform" value="husky" />
  </include>
</launch>